<?xml version="1.0"?>
<config>
    <modules>
        <Psquared_CurrencyAdjustment>
            <version>0.1.0</version>
        </Psquared_CurrencyAdjustment>
    </modules>
    <global>
        <helpers>
            <currencyadjustment>
                <class>Psquared_CurrencyAdjustment_Helper</class>
            </currencyadjustment>
        </helpers>
        <models>
            <currencyadjustment>
                <class>Psquared_CurrencyAdjustment_Model</class>
            </currencyadjustment>
            <directory>
                <rewrite>
                    <currency_import_webservicex>Psquared_CurrencyAdjustment_Model_Directory_Currency_Import_Webservicex</currency_import_webservicex>
                </rewrite>
            </directory>
        </models>
    </global>
    <default>
        <currency>
            <currency_adjustment>
                <enable_adjustment>0</enable_adjustment>
                <adjustment_value>1</adjustment_value>
                <enable_rounding>0</enable_rounding>
                <rounding_method>1</rounding_method>
                <number_digits>2</number_digits>
            </currency_adjustment>
        </currency>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <currencyadjustment>
                    <files>
                        <default>Psquared_CurrencyAdjustment.csv</default>
                    </files>
                </currencyadjustment>
            </modules>
        </translate>
    </adminhtml>
</config> 